* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
    background-color: rgb(168, 221, 168);
} */
.main {
  background-color: rgb(168, 221, 168);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerbox {
  background-color: white;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;

  /*  remove below 3  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.innerboxtop {
  background-color: rgb(41, 126, 41);
  height: 12%;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
  padding: 0 15%;
}

.elem {
  /* width: 30%; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.scorebox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50px;
  height: 20px;
  background-color: white;
  font-size: 1.8rem;
  padding: 15px;
  margin: 0.8rem;
  border-radius: 2px;
  color: rgb(41, 126, 41);
  font-weight: 600;
}

.innerboxbtm {
  /* height: 100%; */
  height: calc(100% - 12%);
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap;
  margin: 1px;
}

.bubble {
  background-color: green;
  width: 3.5%;
  height: 5%;
  border-radius: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  margin: 8px;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;

  cursor: pointer;
}

.finalScoreBox {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 40%;
  border-radius: 20px;
}

@media screen and (max-width: 720px) {
  .gameOver {
    font-size: 28px;
  }

  .gameFinalScore {
    font-size: 24px;
  }

  .elem h2 {
    font-size: 21px;
  }

  .scorebox {
    width: 50px;
    /* height: 15px; */
    /* font-size: 24px; */
  }

  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 11px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 550px) {
  .gameOver {
    font-size: 24px;
  }

  .gameFinalScore {
    font-size: 20px;
  }

  .elem h2 {
    font-size: 20px;
  }
  .scorebox {
    width: 40px;
    height: 15px;
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .gameOver {
    font-size: 20px;
  }

  .gameFinalScore {
    font-size: 16px;
  }

  .elem h2 {
    font-size: 18px;
  }
  .scorebox {
    width: 40px;
    height: 15px;
    font-size: 24px;
  }
}

@media screen and (max-width: 415px) {
  .gameOver {
    font-size: 18px;
  }

  .gameFinalScore {
    font-size: 16px;
  }

  .elem h2 {
    font-size: 16px;
  }
  .scorebox {
    width: 35px;
    height: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 370px) {
 
  .gameOver {
    font-size: 18px;
  }

  .gameFinalScore {
    font-size: 16px;
  }

  .elem h2 {
    font-size: 16px;
  }
  .scorebox {
    width: 30px;
    height: 10px;
    margin: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 330px) {
  .gameOver {
    font-size: 15px;
  }

  .gameFinalScore {
    font-size: 14px;
  }

  .elem h2 {
    font-size: 13px;
  }
  .scorebox {
    width: 20px;
    height: 8px;
    margin: 7px;
    font-size: 18px;
  }
}

@media screen and (max-width: 272px) {
  .gameOver {
    font-size: 12px;
  }

  .gameFinalScore {
    font-size: 10px;
  }

  .elem h2 {
    font-size: 12px;
  }
  .scorebox {
    width: 5px;
    height: 5px;
    margin: 3px;
    font-size: 15px;
  }
}

@media screen and (max-height: 1022px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 11px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 992px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 10px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 963px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 5px;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 2.4rem;
  }
}

@media screen and (max-height: 927px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 900px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 7px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 875px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 847px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 5px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 847px) {
  .bubble {
    width: 3.5%;
    height: 5%;
    border-radius: 100%;
    padding: 25px;
    margin: 5px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

@media screen and (max-height: 818px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 5px;
      margin-bottom: 9px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  
@media screen and (max-height: 785px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 5px;
      margin-bottom: 6px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 752px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 5px;
      margin-bottom: 13px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 721px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 692px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 656px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 15.5px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 622px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 11.5px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 594px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 569px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

    @media screen and (max-height: 548px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 2.5px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  @media screen and (max-height: 530px) {
    .bubble {
      width: 3.5%;
      height: 5%;
      border-radius: 100%;
      padding: 25px;
      margin: 4px;
      margin-bottom: 0.5px;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }
/* 
@media (min-width: 0px) and (max-width: 500px) {
    
    .main {
        background-color: red;
    }
  } */
